/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1.1/Leccion1/nbproject/private/
/Java/Leccion1.1/Leccion1/build/
/Java/Leccion1/Leccion1/nbproject/private/
/Java/Leccion1/Leccion1/build/
/Java/Leccion1/Ejercicio1/nbproject/private/
/Java/Leccion1/Ejercicio2/nbproject/private/
/Java/Leccion1/Ejercicio2/build/
/Java/Leccion1/Ejercicio_2/nbproject/private/
/Java/Leccion1/Ejercicio_3/nbproject/private/
/Java/Leccion1/Ejercicio_3/build/
/Java/Leccion1/Ejercicio_4/nbproject/private/
/Java/Leccion1/Ejercicio_4/build/
/Java/Leccion1/Ejercicio_10/nbproject/private/
/Java/Leccion1/Ejercicio_5/nbproject/private/
/Java/Leccion1/Ejercicio_5/build/
/Java/Leccion1/Ejercicio_6/nbproject/private/
/Java/Leccion1/Ejercicio_6/build/
/Java/Leccion1/Ejercicio__6/nbproject/private/
/Java/Leccion1/Ejercicio__6/build/
/Java/Leccion1/Ejercicio_7/nbproject/private/
/Java/Leccion1/Ejercicio_7/build/
/Java/Leccion1/Leccion2/nbproject/private/
/Java/Leccion1/Leccion2/build/
/Java/EjerciciosParaPromedio/Ejercicio1/nbproject/private/
/Java/EjerciciosParaPromedio/Ejercicio1/build/
/Java/EjerciciosParaPromedio/Ejercicio_1/nbproject/private/
/Java/EjerciciosParaPromedio/Ejercicio.1/nbproject/private/
/Java/EjerciciosParaPromedio/Ejercicio.1/build/
/Java/EjerciciosParaPromedio/Ejercicio_2/nbproject/private/
/Java/EjerciciosParaPromedio/Ejercicio__2/nbproject/private/
/Java/EjerciciosParaPromedio/Ejercicio__2/build/
/Java/Leccion2/CicloWhile/nbproject/private/
/Java/Leccion2/CicloWhile/build/
/Java/Leccion2/Ejercicio04/nbproject/private/
/Java/Leccion2/Ejercicio.04/nbproject/private/
/Java/Leccion2/Ejercicio04/build/
/Java/Leccion2/Ejercicio.04/build/
/Java/Leccion2/Ejercicio03/nbproject/private/
/Java/Leccion2/Ejercicio03/build/
/Java/Leccion2/Ejercicio.03/nbproject/private/
/Java/Leccion2/EjercicioCiclos01/nbproject/private/
/Java/Leccion2/EjercicioCiclos01/build/
/Java/Leccion2/EjercicioCiclos02/nbproject/private/
/Java/Leccion2/EjerciciosCiclos_02/nbproject/private/
/Java/Leccion2/EjercicioCiclos02/build/
